$height: 180px;
$width: 100px;
$pad: 10px;

@function calc-back($value1, $value2) {
    @return $value1 + 2 * $value2;
}

section {
    width: $width;
    height: $height;
    padding: $pad;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;

    header {
        font-size: 20px;
        line-height: 20px;
        height: 40px;
        > span {
            display: block;
        }
    }
    article {
        height: calc(100% - 90px);
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 25px;
        padding: 10px 0px;
        > div {
            align-self: center;
        }
        > div.ace {
            font-size: 70px;
        }
        .row {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }
    footer {
        font-size: 20px;
        line-height: 20px;
        height: 40px;
        bottom: 0px;
        text-align: right;
        > span {
            display: block;
        }
    }
    .back {
        height: calc-back($height, $pad);
        width: calc-back($width, $pad);
        position: relative;
        margin: -10px;
    }
}
.selected {
    margin-top: -30px;
}
