<section matRipple matRippleColor="#f2f2f2" *ngIf="icon && index!== undefined" [ngClass]="{'selected': selected}" [ngStyle]="{'color': icon.color}">
    <ng-container *ngIf="display==='show';else backside">
        <header>
            <span>{{index}}</span>
            <i>
                {{icon.iconUnicode}}
            </i>
        </header>
        <article>
            <ng-container [ngSwitch]="index">
                <div class="ace" *ngSwitchCase="'A'">
                    <i>
                        {{icon.iconUnicode}}
                    </i>
                </div>
                <div *ngSwitchCase="'K'">
                    <img src="../../../assets/icons/king.jpg" alt="King" height="60px"/>
                </div>
                <div *ngSwitchCase="'Q'">
                    <img src="../../../assets/icons/queen.jpg" alt="Queen" height="60px"/>
                </div>
                <div *ngSwitchCase="'J'">
                    <img src="../../../assets/icons/jack.jpg" alt="Jack" height="60px"/>
                </div>
                <div *ngSwitchCase="'10'">
                    <span class="row">
                        <i>
                            {{icon.iconUnicode}}
                        </i>
                        <i>
                            {{icon.iconUnicode}}
                        </i>
                    </span>
                    <span class="row">
                        <i>
                            {{icon.iconUnicode}}
                        </i>
                        <i>
                            {{icon.iconUnicode}}
                        </i>
                        <i>
                            {{icon.iconUnicode}}
                        </i>
                    </span>
                    <span class="row">
                        <i>
                            {{icon.iconUnicode}}
                        </i>
                        <i>
                            {{icon.iconUnicode}}
                        </i>
                        <i>
                            {{icon.iconUnicode}}
                        </i>
                    </span>
                    <span class="row">
                        <i>
                            {{icon.iconUnicode}}
                        </i>
                        <i>
                            {{icon.iconUnicode}}
                        </i>
                    </span>
                </div>
                <div *ngSwitchCase="'9'">
                    <span class="row">
                        <i>
                            {{icon.iconUnicode}}
                        </i>
                        <i>
                            {{icon.iconUnicode}}
                        </i>
                        <i>
                            {{icon.iconUnicode}}
                        </i>
                    </span>
                    <span class="row">
                        <i>
                            {{icon.iconUnicode}}
                        </i>
                        <i>
                            {{icon.iconUnicode}}
                        </i>
                        <i>
                            {{icon.iconUnicode}}
                        </i>
                    </span>
                    <span class="row">
                        <i>
                            {{icon.iconUnicode}}
                        </i>
                        <i>
                            {{icon.iconUnicode}}
                        </i>
                        <i>
                            {{icon.iconUnicode}}
                        </i>
                    </span>
                </div>
                <div *ngSwitchCase="'8'">
                    <span class="row">
                        <i>
                            {{icon.iconUnicode}}
                        </i>
                    </span>
                    <span class="row">
                        <i>
                            {{icon.iconUnicode}}
                        </i>
                        <i>
                            {{icon.iconUnicode}}
                        </i>
                        <i>
                            {{icon.iconUnicode}}
                        </i>
                    </span>
                    <span class="row">
                        <i>
                            {{icon.iconUnicode}}
                        </i>
                        <i>
                            {{icon.iconUnicode}}
                        </i>
                        <i>
                            {{icon.iconUnicode}}
                        </i>
                    </span>
                    <span class="row">
                        <i>
                            {{icon.iconUnicode}}
                        </i>
                    </span>
                </div>
                <div *ngSwitchCase="'7'">

                    <span class="row">
                        <i>
                            {{icon.iconUnicode}}
                        </i>
                        <i>
                            {{icon.iconUnicode}}
                        </i>
                    </span>
                    <span class="row">
                        <i>
                            {{icon.iconUnicode}}
                        </i>
                        <i>
                            {{icon.iconUnicode}}
                        </i>
                        <i>
                            {{icon.iconUnicode}}
                        </i>
                    </span>
                    <span class="row">
                        <i>
                            {{icon.iconUnicode}}
                        </i>
                        <i>
                            {{icon.iconUnicode}}
                        </i>
                    </span>
                </div>
                <div *ngSwitchCase="'6'">
                    <span class="row">
                        <i>
                            {{icon.iconUnicode}}
                        </i>
                        <i>
                            {{icon.iconUnicode}}
                        </i>
                    </span>
                    <span class="row">
                        <i>
                            {{icon.iconUnicode}}
                        </i>
                        <i>
                            {{icon.iconUnicode}}
                        </i>
                    </span>
                    <span class="row">
                        <i>
                            {{icon.iconUnicode}}
                        </i>
                        <i>
                            {{icon.iconUnicode}}
                        </i>
                    </span>
                </div>
                <div *ngSwitchCase="'5'">
                    <span class="row">
                        <i>
                            {{icon.iconUnicode}}
                        </i>
                    </span>
                    <span class="row">
                        <i>
                            {{icon.iconUnicode}}
                        </i>
                        <i>
                            {{icon.iconUnicode}}
                        </i>
                        <i>
                            {{icon.iconUnicode}}
                        </i>
                    </span>
                    <span class="row">
                        <i>
                            {{icon.iconUnicode}}
                        </i>
                    </span>
                </div>
                <div *ngSwitchCase="'4'">
                    <span class="row">
                        <i>
                            {{icon.iconUnicode}}
                        </i>
                    </span>
                    <span class="row">
                        <i>
                            {{icon.iconUnicode}}
                        </i>
                        <i>
                            {{icon.iconUnicode}}
                        </i>
                    </span>
                    <span class="row">
                        <i>
                            {{icon.iconUnicode}}
                        </i>
                    </span>
                </div>
                <div *ngSwitchCase="'3'">
                    <span class="row">
                        <i>
                            {{icon.iconUnicode}}
                        </i>
                    </span>
                    <span class="row">
                        <i>
                            {{icon.iconUnicode}}
                        </i>
                    </span>
                    <span class="row">
                        <i>
                            {{icon.iconUnicode}}
                        </i>
                    </span>
                </div>
                <div *ngSwitchCase="'2'">
                    <span class="row">
                        <i>
                            {{icon.iconUnicode}}
                        </i>
                    </span>
                    <span class="row">
                        <i>
                            {{icon.iconUnicode}}
                        </i>
                    </span>
                </div>
            </ng-container>
        </article>
        <footer>
            <span>{{index}}</span>
            <i>
                {{icon.iconUnicode}}
            </i>
        </footer>
    </ng-container>
    <ng-template #backside>
        <img src="../../../assets/icons/back.jpg" alt="backside image" class="back">
    </ng-template>
</section>