<article>  
  <div class="row">
    <ng-container *ngFor="let i of indexes">
      <app-card [index]="i" [type]="typeSpades"></app-card>
    </ng-container>
  </div>
  <div class="row">
    <ng-container *ngFor="let i of indexes">
      <app-card [index]="i" [type]="typeHearts"></app-card>
    </ng-container>
  </div>
  <div class="row">
    <ng-container *ngFor="let i of indexes">
      <app-card [index]="i" [type]="typeDiamonds"></app-card>
    </ng-container>
  </div>
  <div class="row">
    <ng-container *ngFor="let i of indexes">
      <app-card [index]="i" [type]="typeClubs"></app-card>
    </ng-container>
  </div>
</article>