.container {
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex: 1 1 100%;
    .west-panel {
        height: calc(100vh - 86px);
        flex: 0 1 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        .hand {
            transform: rotateZ(90deg);
            app-card:not(:first-child) {
                margin-left: -90px;
            }
        }
        .player {
        }
    }
    .mid-panel {
        flex-direction: column;
        flex: 1 1 60%;
        height: calc(100vh - 86px);

        .north-panel {
            height: 20%;
        }
        .board-panel {
            height: 40%;
        }
        .south-panel {
            height: 40%;
        }
    }
    .east-panel {
        height: calc(100vh - 86px);
        flex: 0 1 20%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        .hand {
            transform: rotateZ(90deg);
            app-card:not(:first-child) {
                margin-left: -90px;
            }
        }
        .player {
        }
    }
    .player {
        font-weight: 600;
        font-size: 20px;
        padding-bottom: 10px;
        display: block;
        text-align: center;
    }
    .row {
        display: flex;
        justify-content: center;
        app-card {
            margin-right: 5px;
        }
        padding: 5px 0px;
    }
    .hand app-card:not(:first-child) {
        margin-left: -65px;
    }
    .eject {
        margin-bottom: 25px;
    }
}
